[submodule "Penelope/vendor/spdlog"]
	path = Penelope/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Penelope/vendor/GLFW"]
	ignore = dirty
	path = Penelope/vendor/GLFW
	url = https://github.com/CourtneyAbraham/glfw
[submodule "Penelope/vendor/ImGui"]
	ignore = dirty
	path = Penelope/vendor/ImGui
	url = https://github.com/CourtneyAbraham/imgui/
[submodule "Penelope/vendor/glm"]
	path = Penelope/vendor/glm
	url = https://github.com/g-truc/glm
